<!-- <div class="row">
    <div class="card mt-4" style="width: 14rem;" *ngFor="let product of products">
        <img class="card-img" src={{product.image}} width="100%" height="120px" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text"><b>Precio:</b> {{product.price}}
                <br> <b>Cantidad:</b> {{product.quantity}}
            </p>
        </div>
        <div class="card-block">
            <button class="btn btn-success" type="button">Ver mas <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div> -->